.legal .realtime-search {
  padding-bottom: 3px;
}

.legal .legal-lists li {
  float: left;
  height: 90px;
  width: 33%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.legal .legal-lists li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 18px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.legal .legal-lists li a span {
  font-size: 20px;
  font-weight: 700;
}

.legal .legal-lists li:nth-child(3n) {
  border-right: 0;
}
