.peerConsultative .search-box {
  position: relative;
  margin: 10px 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  background-color: #fff;
  line-height: 44px;
  color: #bdbdbd;
}

.peerConsultative .search-box span {
  position: absolute;
  top: 0;
  left: 12px;
  font-size: 20px;
  font-weight: 700;
}

.peerConsultative .search-box input {
  display: block;
  padding-left: 24px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.peerConsultative .peer-lists {
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.peerConsultative .peer-lists li a {
  display: block;
  padding: 15px 12px;
  text-align: center;
  width: 80px;
  box-sizing: border-box;
  color: #000;
  border-bottom: 1px solid #ddd;
}

.peerConsultative .all {
  margin-top: 10px;
  margin-left: 80px;
  padding: 7px 12px 0;
  width: auto;
  background-color: #fff;
}

.peerConsultative .all .all-title {
  margin-right: -12px;
  overflow: hidden;
}

.peerConsultative .all .all-title li {
  float: left;
  margin-right: 12px;
  width: 28%;
}

.peerConsultative .all .all-title li a {
  display: block;
  line-height: 30px;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  color: #000;
  background-color: #f7f7f7;
}

.peerConsultative .all .laywer {
  margin-top: 7px;
  border: 1px solid #ddd;
}

.peerConsultative .all .laywer .laywer-info {
  padding: 12px;
  overflow: hidden;
}

.peerConsultative .all .laywer .laywer-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.peerConsultative .all .laywer .laywer-info .name {
  margin: 0;
  padding-left: 29px;
}

.peerConsultative .all .laywer .laywer-info .name b {
  font-size: 16px;
  color: #000;
}

.peerConsultative .all .laywer .othInfo {
  margin: 0;
  padding-left: 12px;
  padding-bottom: 5px;
  line-height: 23px;
  overflow: hidden;
}

.peerConsultative .all .laywer .othInfo a {
  float: left;
  margin-left: 10px;
  line-height: 20px;
  padding: 0 4px;
  border: 1px solid #fa7700;
  color: #fa7700;
}

.peerConsultative .all .laywer .help {
  margin: 0;
  overflow: hidden;
  border-top: 1px solid #ddd;
}

.peerConsultative .all .laywer .help span {
  padding-left: 12px;
  line-height: 44px;
}

.peerConsultative .all .laywer .help a {
  margin-top: 7px;
  margin-right: 5px;
  padding: 0 12px;
  line-height: 30px;
  background-color: #fa7700;
  border-radius: 5px;
  color: #ffffff;
}
