.realtimeConsultation .realtime-search .hot-search {
  padding-left: 12px;
}

.realtimeConsultation .realtime-search .hot-search span {
  margin-right: 12px;
  margin-bottom: 12px;
  color: #ffffff;
}

.realtimeConsultation .realtime-search .hot-search ul li {
  float: left;
  margin-bottom: 12px;
}

.realtimeConsultation .realtime-search .hot-search ul li a {
  display: block;
  padding-right: 15px;
  text-decoration: underline;
  color: #ffffff;
}

.realtimeConsultation .realtime-lists {
  margin-top: 20px;
  padding: 0 12px;
  min-width: 300px;
}

.realtimeConsultation .realtime-lists ul li {
  float: left;
  margin: 0 6% 12px 0;
  padding-bottom: 12px;
  width: 29%;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #eeeeee;
}

.realtimeConsultation .realtime-lists ul li a {
  display: block;
  width: 100%;
}

.realtimeConsultation .realtime-lists ul li a p {
  margin: 0;
  text-align: center;
}

.realtimeConsultation .realtime-lists ul li a p span {
  margin: 10px auto;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 29px;
  color: #ffffff;
}

.realtimeConsultation .realtime-lists ul li:nth-child(3n) {
  margin-right: 0;
}

.realtimeConsultation .realtime-lists .icon-- {
  background-color: #3fafee;
}

.realtimeConsultation .realtime-lists .icon-xingshianjian {
  background-color: #ef6189;
}

.realtimeConsultation .realtime-lists .icon-hunyin {
  background-color: #ffa11a;
}

.realtimeConsultation .realtime-lists .icon-iconlaodongjiufen {
  background-color: #b8ed64;
}

.realtimeConsultation .realtime-lists .icon-icon {
  background-color: #3ad4cb;
}

.realtimeConsultation .realtime-lists .icon-2 {
  background-color: #ff6363;
}

.realtimeConsultation .realtime-lists .icon-gonggongjiaotonggongjushengushencan {
  background-color: #d570f2;
}

.realtimeConsultation .realtime-lists .icon-xiaofeiquanyi {
  background-color: #f5dc68;
}

.realtimeConsultation .realtime-lists .icon-linli {
  background-color: #55e27d;
}

.realtimeConsultation .realtime-lists .icon-chaiqian2 {
  background-color: #ffa11a;
}

.realtimeConsultation .realtime-lists .icon-ic_account_balance_px {
  background-color: #3fafee;
}

.realtimeConsultation .realtime-lists .icon-yiliao {
  background-color: #ef6189;
}

.realtimeConsultation .realtime-lists .icon-v1-wuquanbaohu {
  background-color: #b8ed64;
}

.realtimeConsultation .realtime-lists .icon-zhaiquan1 {
  background-color: #3ad4cb;
}

.realtimeConsultation .realtime-lists .icon-gongsi1 {
  background-color: #f5dc68;
}

.realtimeConsultation .realtime-lists .icon-xinjingji {
  background-color: #55e27d;
}

.realtimeConsultation .realtime-lists .icon-zhishichanquanbaohu {
  background-color: #d570f2;
}

.realtimeConsultation .realtime-lists .icon-minzheng {
  background-color: #ff6363;
}

.realtimeConsultation .realtime-lists .icon-xingzhengguanli {
  background-color: #ffa11a;
}

.realtimeConsultation .realtime-lists .icon-susong {
  background-color: #ef6189;
}

.realtimeConsultation .realtime-lists .icon-falv2 {
  background-color: #3fafee;
}
