@import "iconfont";
@import "variables";
@import "normalize";
@import "mixins";

ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}
}

a{
	text-decoration: none;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

select{
  -webkit-appearance: none;
}
html,body{
  height: 100%;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  line-height: $line-height-base;
  font-family: $font-family-base;
  font-family:"iconfont";
  font-size: $font-size-base;
  color: $text-color;
  background-color: $body-bg;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    outline: none;
  }
}

.wrapper{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 1000px;
}

.header{
  height: 44px;
  background-color: $brand;
  .back{
    position: relative;
    margin: 0;
    line-height: 44px;
    text-align: center;
    .aside-l,.aside-r{
      position: absolute;
      color: $white;
    }
    .aside-l{
      left: $padding-aside;
    }
    .aside-r{
      right: $padding-aside;
      font-size: $font-size-title;
    }
    span{
      color: $white;
      font-size: $font-size-title;
    }
  }
}

.realtime-search{   
  background-color: $brand;
  padding-left: $padding-aside;
  padding-right: $padding-aside;
  border-top: 1px solid #3051c0;
  .search-box{
    position: relative;
    margin-top: 23px;
    margin-bottom: $padding-aside;
    padding: 3px $padding-aside;
    line-height: 44px;
    border-radius: 6px;
    background-color: $ele-bg;
    color: #bdbdbd;
    box-sizing: border-box;
    input{
      padding-right: 2*$padding-aside;
      width: 100%;
      font-size: $font-size-inp;
      border: none;
      outline: none;
      box-sizing: border-box;
    }
    span{
      position: absolute;
      top: 0;
      right: $padding-aside;
      font-size: 20px;
      font-weight: $font-weight-bold;
    }
  }
}

.hide-oneline{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
  .after1px{
    &:after{
      transform: scaleY(0.7)
    }
  }
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
  .after1px{
    &:after{
      transform: scaleY(0.5)
    }
  }
}

