@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.queue{
	height: 100%;
	background-color: $brand;
	color: $white;
	#ring{
		margin: 0 auto;
		height: 370px;
		width: 80%;
	}
	.waitTime{
		text-align: center;
		padding: 0 70px;
		line-height: 35px;
		span{
			font-size: 16px;
		}
	}
	.exit{
		a{
			display: block;
			margin: 71px auto 0;
			width: 235px;
			color: $white;
			line-height: 42px;
			font-size: 16px;
			text-align: center;
			border: 1px solid $white;
			border-radius: 20px;
		}
	}
}